body {
    text-align: center; 
}

.container {
    width: 80%;
}

.navbar {
    width: 100%;
    z-index: 5;
}

.navbar-brand {
    color: #f8f9fa !important;    
}


.splash-art {
    width: 100%;
    height: 24rem;
    overflow: hidden;
    color: white;
    border-bottom: 4px solid red;
    border-top: 4px solid red;
}


.splash {
    width: 100%;
    overflow: hidden;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    
    }

.bg-text-title {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
  }

.bg-text-subtitle {
    position: absolute;
    top: 33%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
}

.about {
    padding-top: 4rem;
    padding-bottom: 2rem;
}  


.foot {
    background-color :#f2f2f2;
    width: 100%;
    height: 10rem;
}

.image-box {
    width: 100%;
    height: auto;
}

.card {
    padding: 3rem;
}